[Desktop Entry]
Version=1.0
Terminal=false
Icon=document-save
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=/opt/libreoffice-installer/libreoffice-installer
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice Installer
GenericName=Office Installer
GenericName[en]=Office Installer
Comment=Install office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[en]=Install office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
X-XFCE-Source=file:///usr/share/applications/libreoffice-installer.desktop
