[Desktop Entry]
Comment[en_US]=
Comment=
Exec=wmsystemtray --non-wmaker --bgcolor black
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=wmsystemtray
Name=wmsystemtray
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
