[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=ROSA.Desktop.Fresh.2012.GNOME.i5
Icon=drive-removable-media
Comment=Removable Device
URL=file://org/freedesktop/UDisks/devices/sde
