[Desktop Entry]
Version=1.0
Type=Application
Name=Logout
Comment=Logout, Restart, Shutdown, Lock..
Exec=oblogout
Icon=application-exit
Path=
Terminal=false
StartupNotify=false
