<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="Install Manjaro">
			<action name="Execute">
				<execute>lxterminal -e sudo setup</execute>
			</action>
		</item>
		<separator/>
		<item label="User Guides">
			<action name="Execute">
				<execute>thunar ~/Manjaro</execute>
			</action>
		</item>
		<item label="Change Background">
			<action name="Execute">
				<execute>nitrogen</execute>
			</action>
		</item>
		<menu id="1" label="Configuration">
			<item label="Screen Display &amp; Resolution">
				<action name="Execute">
					<execute>arandr</execute>
				</action>
			</item>
			<item label="Environment &amp; Workspaces">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Desktop Look &amp; Feel">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Screensaver">
				<action name="Execute">
					<execute>xscreensaver-demo</execute>
				</action>
			</item>
			<item label="Tint2 Panel">
				<action name="Execute">
					<execute>tintwizard</execute>
				</action>
			</item>
			<item label="Root Menu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Shortcut Keys">
				<action name="Execute">
					<execute>obkey</execute>
				</action>
			</item>
			<item label="Power Management">
				<action name="Execute">
					<execute>xfce4-power-manager-settings</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Pamac Updater        (Super + U)">
			<action name="Execute">
				<execute>pamac-updater</execute>
			</action>
		</item>
		<item label="Pamac Manager       (Super + M)">
			<action name="Execute">
				<execute>pamac-manager</execute>
			</action>
		</item>
		<separator/>
		<item label="Thunar File Manager (Super + F)">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Terminal                    (Super + T)">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item label="Synapse                   (Ctrl + Space)">
			<action name="Execute">
				<execute>synapse</execute>
			</action>
		</item>
		<item label="AppFinder                 (Super + A)">
			<action name="Execute">
				<execute>xfce4-appfinder</execute>
			</action>
		</item>
		<separator/>
		<item label="Logout...                   (Super + X)">
			<action name="Execute">
				<execute>oblogout</execute>
			</action>
		</item>
	</menu>
</openbox_menu>