[Desktop Entry]
Type=Action
Name=Edit as Root
Name[fr]=Editer en tant que root
Icon=dialog-password
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=gksu juffed %f
Name=Default profile
