[Desktop Entry]
Type=Action
Name=Set As Wallpaper
Name[fr]=Définir comme papier-peint
Name[tr]=Masaüstü deseni yap
Icon=user-desktop
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=pcmanfm-qt -w %f
Name[en]=Default profile
SelectionCount==1
