
[Desktop Entry]
Name=gedit
Name[de]=gedit
GenericName=Text Editor
GenericName[de]=Texteditor
Comment=Edit text files
Comment[de]=Textdateien bearbeiten
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.6
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit/gedit-bugreport.sh
X-XFCE-Source=file:///usr/share/applications/gedit.desktop
