
[Desktop Entry]
Version=1.0
Type=Application
Name=Exaile
GenericName=Music Player
GenericName[de]=Musik-Wiedergabe
X-GNOME-FullName=Exaile Music Player
X-GNOME-FullName[de]=Exaile Musik-Wiedergabe
Comment=Listen to, explore, or manage your audio collection
Comment[de]=Audiodateien und -streams wiedergeben, verwalten und Tags bearbeiten
Icon=exaile
Exec=exaile %F
Terminal=false
MimeType=audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;
Categories=AudioVideo;Audio;Player;GTK;
X-XFCE-Source=file:///usr/share/applications/exaile.desktop
