[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Manjaro Welcome Message
Comment=
Exec=manjaro-welcome
StartupNotify=false
Terminal=false
Hidden=false

