[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pulseaudio-ctl
Comment=100% Volume
Exec=/etc/manjaro/pulseaudio-ctl-full
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

