[Desktop Entry]
Name=Install Manjaro Linux
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=/usr/bin/xdg-su root /usr/bin/live-installer
Icon=live-installer
Terminal=False
Type=Application
Categories=System;
