
[Desktop Entry]
Comment[de]=
Comment=
Exec=sudo setup
GenericName[de]=
GenericName=
Icon=cli-installer
MimeType=
Name[de]=Manjaro CLI Installer
Name=Manjaro CLI Installer
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
