[Unit]
Description=LiveMedia Eject Service
Before=unmount.target
After=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/etc/manjaro/ejectcd
StandardInput=tty-force
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target

