[Unit]
Description=LiveMedia Eject Service

[Service]
StandardInput=tty-force
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/etc/manjaro/ejectcd

[Install]
WantedBy=multi-user.target


