[Unit]
Description=Configure Pacman
After=livecd.service network.target

[Service]
Type=oneshot
ExecStart=/etc/manjaro/mirrorcheck
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
