[Desktop Entry]
Type=Application
Exec=pamac-tray
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_GB]=Pamac-Updater
Name=Pamac-Updater
Comment[en_GB]=Automatic updates
Comment=Automatic updates
