[Desktop Entry]
Terminal=false
Type=Application
Categories=commmand
StartupNotify=false
Name=eraser
Path=~/.config/autostart/firstboot.py
Exec=~/.config/autostart/firstboot.py
Icon=none
Comment=eraser
##this script for turbulence