[Desktop Entry]
Version=1.0
Type=Application
Name=Logout...
Comment=Logout, Restart, Shutdown, Lock Screen
Exec=oblogout
Icon=distributor-logo-manjaro
Path=
Terminal=false
StartupNotify=false
